<footer class="section-padding">
    <div class="wrapper">
        <div>
            <p>Erik Wallace &copy; 2002-<span id="currentYear"></span>. All rights reserved.</p>
        </div>
        <div>
            <p class="visually-hidden"><a href="/sitemap.xml">Sitemap</a></p>
        </div>
    </div>
</footer>

<script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>