---
title: Contact Me
layout: 'base.njk'
description: Projects I have worked on range from software, websites, mobile apps, kiosks and digital signage.
keywords: Erik Wallace, Cincinnati Web Design, Cincinnati Product Designer, Cincinnati Web Strategy, mobile app design
---

<h1>Contact Me</h1>

<form class="flow" name="contact" action="/success.html" netlify-honeypot="phone" netlify>
	<div class="row">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" autocomplete="name" />
	</div>
	<div class="row">
		<label for="email">Email address</span></span></label>
		<input type="email" name="email" id="email" autocomplete="email" />
	</div>
	<div class="row visually-hidden">
		<label for="phone">phone address</span></span></label>
		<input type="phone" name="phone" id="phone" autocomplete="phone" />
	</div>
	<div class="row">
		<label for="comments">Your message</label>
		<textarea name="comments" id="comments" rows="7" cols="33"></textarea>
	</div>
	<div class="row">
		<input type="submit" name="submit" value="Send Email" />
	</div>
</form>
</div>