---
title: Read Books
layout: 'base.njk'
description: Collection of books I have read organized by year.
keywords: Erik Wallace, Books, Reading List, Book Recommendations
permalink: /books/
---

<h1>{{ title }}</h1>

<div class="wrapper-65ch flow">
	<p>A collection of the books I&apos;ve read organized by year.</p>
	<ul>
		<li><a href="/books/2026.html">2026</a></li>
		<li><a href="/books/2025.html">2025</a></li>
		<li><a href="/books/2024.html">2024</a></li>
		<li><a href="/books/2023.html">2023</a></li>
		<li><a href="/books/2022.html">2022</a></li>
	</ul>
</div>