/*
 * TABLE OF CONTENTS
 *
 * 1.0 - TOKENS
 * 2.0 - RESET
 * 3.0 - STRUCTURE
 * 4.0 - TYPOGRAPHY
 * 5.0 - HEADER / NAVIGATION
 * 6.0 - FOOTER
 * 7.0 - UTILITIES
 * 8.0 - THEME
 * 9.0 - TRANSITION
 * 10.0 - BOOK LIST
 */

/*
 * 1.0 - TOKENS
 * https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e
 */

:root {
    --color-base: #f5f5f5;
    /* --color-heading: #0f172a; */
    --color-heading: hsl(206, 90%, 16%);
    --color-link: hsl(20, 80%, 44%);
    --color-text-base: #334155;
    --color-text-muted: #616161;

    --carbon-gradient-dark: hsl(206, 82%, 10%);
    --carbon-gradient-light: hsl(206, 90%, 14%);

    --font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --font-serif: ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    --font-mono: Fira Code VF,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

    /* https://www.fluid-type-scale.com */
    /* --font-size-xs: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem); */
    --font-size-xs: clamp(1rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-small: clamp(1.2rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

    --grid-auto: auto-fill;
    --grid-gap: 2rem;
    --grid-minmax: 100px;

    --tracking-tight: -.025em;
    --tracking-wide: 0.025em;
    --tracking-wide: 0.05em;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --spacing-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --spacing-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --spacing-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --spacing-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --spacing-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --spacing-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}


/*
 * 2.0 - RESET
 * https://www.joshwcomeau.com/css/custom-css-reset/
 */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
	block-size: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering on Chrome and Safari for MacOS
  * line-height, https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
*/
body {
	line-height: 1.5;
  line-height: calc(1ex / 0.32);
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
}

/* custom, prevent images from stretching */
img {
    block-size: auto;
    object-fit: cover;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
/*
  9. Create a root stacking context for JS frameworks like React
*/
/*
#root,
#__next {
	isolation: isolate;
}
*/


/*
 * 3.0 - STRUCTURE
 *
 */

html,
body {
	inline-size: 100%;
	block-size: 100%; /* vh has uses on mobile devices, so use % */
}

html {
  font-style: normal;
  text-rendering: optimizelegibility;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  scroll-behavior: smooth;
}

body {
    background-color: var(--color-base);
    color: var(--color-text-base);
    font-family: var(--font-serif);
    font-size: var(--font-size-small);
    scroll-behavior: smooth;
    /* https://www.gradientmagic.com/collection/carbonfiber */
    background-image: radial-gradient(circle at center center, transparent, var(--carbon-gradient-dark)),repeating-linear-gradient(135deg, var(--carbon-gradient-dark) 0px, var(--carbon-gradient-dark) 2px,transparent 2px, transparent 10px,var(--carbon-gradient-dark) 10px, var(--carbon-gradient-dark) 11px, transparent 11px, transparent 21px),repeating-linear-gradient(45deg, var(--carbon-gradient-light) 0px, var(--carbon-gradient-light) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, var(--carbon-gradient-dark), var(--carbon-gradient-dark));
    background-attachment: fixed;
    background-position: top left;

}


/*
 * 4.0 - TYPOGRAPHY
 *
 */

h1, h2, h3, h4 {
  --flow-space: 3rem;
  color: var(--color-heading);
  font-family: var(--font-sans);
  line-height: 1.3;
}

h1 {
  font-size: var(--font-size-xl);
  letter-spacing: var(--tracking-tight);
}

h2 {
  font-size: var(--font-size-lg);
  letter-spacing: var(--tracking-tight);
}

h3 {
  letter-spacing: var(--tracking-wide);
  text-transform: uppercase;
}

h4 {
  font-size: var(--font-size-md);
}

.flow .subtitle {
  color: var(--color-text-base);
  font-weight: 600;
  font-size: var(--font-size-md);
  margin-block-start: 0;
  text-transform: uppercase;
  letter-spacing: var(--tracking-wide);
}

small,
footer > * {
  font-size: var(--font-size-xs);
}

pre {
  background-color: hsla(0, 0%, 0%, 0.05);
  font-family: var(--font-mono);
  overflow-x: auto;
  padding: var(--spacing-sm);
  tab-size: 4;
  white-space: pre-wrap;
}

/* trim down margin */
.flow p + ul {
    --flow-space: 0.25rem;
}


/*
 * 5.0 - HEADER / NAVIGATION
 *
 */

header * {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

header.section-padding {
  /* margin-block-start: var(--spacing-lg); */
  position: -webkit-sticky;
  position: sticky;
  inset-block-start: 0;
}

.logo {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: var(--font-size-lg);
  letter-spacing: var(--tracking-tight);
  line-height: 1.1;
  opacity: 1;
}

.logo circle {
  fill: white;
}

.logo svg {
  fill: var(--color-heading);
}

.page-layout {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.page-layout > :first-child {
  flex-grow: 1;
}

.page-layout > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}


/*
 * 6.0 - FOOTER
 *
 */

footer {
  align-self: flex-end;
}

footer .wrapper {
  border-block-start: 1px solid hsla(114, 5%, 5%, 10%);;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block-start: var(--spacing-md);
}

footer div:first-child {
  margin-inline-end: var(--spacing-xxl);
}

footer,
footer a {
  font-family: var(--font-sans);
  font-size: var(--font-size-sm);
  color: var(--color-text-muted);
}

footer a {
  border-block-end: 1px solid currentColor;
}

p, li {
    line-height: 1.75;
    /* inline-size: 60ch; */
    /* max-inline-size: 100%; */
}

a {
  color: var(--color-text-base);
  border-block-end: 2px solid var(--color-link);
  font-weight: 600;
  text-decoration: none;
}

a:hover:not(header a) {
  border-block-end: 1px solid currentColor;
  color: var(--color-link);
}

.page-main {
  background-color: hsla(100, 100%, 100%, 0.85);
  border-inline-start: 1px solid hsla(100, 100%, 100%, 0.9);
  /* border-radius: var(--spacing-md) 0 0 0; */
	/* margin-block-start: 2rem; */
  min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

/* Restrict max character width */
.page-main .wrapper:not(:has(.books-list)) {
  max-inline-size: 50rem;
}

.page-books .page-main .wrapper {
  max-inline-size: 75rem;
}

/* Arranges a list of links into a fully repsonsive navigation.
* If there are more than one <nav> elements on a page, you must add an aria-label to at least one of them (ideally all of them), so the differentiation is announced to screen readers.
*/
.nav {
	display: flex;
  /* flex-direction: column; */
	font-size: var(--font-size-md);
  flex-wrap: wrap;
  margin-block-start: var(--spacing-lg);
  padding-inline-start: 0;
	gap: 1rem 2rem;
	list-style: none;
}

@media (min-width: 800px) {
  .nav {
    flex-direction: column;
  }
}

.nav a[aria-current='page'] {
  color: var(--color-link);
  opacity: 1;
  border-block-end: 1px solid currentColor;
}

.nav a[aria-current='page']::after,
nav a:hover::after {
  margin-inline-start: 0.5rem;
  /* content: ' \2192'; */
}

nav a {
  border-block-end: none;
  color: white;
  font-weight: normal;
  opacity: 0.7;
  text-decoration: none;
  transition: transform 150ms ease-out,opacity 150ms ease-out;
}

nav a:hover {
  opacity: 1;
}

nav p {
  color: white;
}

nav > p {
  font-style: italic;
  font-size: var(--font-size-md);
}

 /* nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */



/*
 * 7.0 - UTILITIES
 */

/* The flow utility provides flow and rhythm between direct sibling elements. Where --flow-space is not defined: the default value is 500 on the size scale.
  * This means that direct siblings inside of the .flow utility will have a margin-top of get-size('500'), which is 20px.
  * By defining --flow-space in the CSS of either a child element of .flow, or on .flow itself: that value will be honoured in line with the cascade and specificity.
  */
.flow > * + * {
	margin-block-start: var(--flow-space, 1.5rem);
}

/* This should be used for each “section” of the site because it provides a solid, consistent vertical padding. */
.section-padding {
	padding: var(--spacing-xl) var(--spacing-xxl);
	/* border: 1px solid tomato; */
}

/* A simple container that provides a consistent gutter and a max width, pushed into the center. It should be used in all regions of the site. */
.wrapper {
	max-inline-size: 75rem;
}

.wrapper-65ch {
  max-inline-size: 65ch;
}

.visually-hidden {
	display: block;
	block-size: 1px;
	inline-size: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(1px);
	white-space: nowrap;
	position: absolute;
}

hr {
  --flow-space: 3rem;

  background-color: hsla(114, 5%, 5%, 10%);
  border: none;
  block-size: 2px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: var(--flow-space);
  /* inline-size: 50%; */
}

.pipe {
  margin-inline-start: .5rem;
  margin-inline-end: .5rem;
  opacity: 0.5;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(var(--grid-auto), minmax(var(--grid-minmax), 1fr));
  grid-gap: var(--grid-gap);
}

.portfolio-name {
  margin: 0.5rem 0 1rem;
  line-height: 1.2;
}

form {
  max-inline-size: 30rem;
}

form input:not([type=submit]),
form textarea {
  inline-size: 100%;
}

form .row * + * {
  display: block;
}

/*
 * 8.0 - THEME
 * https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-1b1b1e
 */

@media (prefers-color-scheme: darkk) {
    :root {
        --color-base: #222;
        --color-base: #ccc;
    }

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 0.3s ease both;
}

/*
 * 9.0 - TRANSITION
 * https://www.jonoalderson.com/conjecture/its-time-for-modern-css-to-kill-the-spa/
 */

@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}
}

/*
 * 10.0 - BOOK LIST
 */

.rating {
    background: linear-gradient(180deg, hsla(100, 100%, 100%, 0.45), hsla(100, 100%, 100%, 0.65));
    border: 1px solid hwb(0 0% 100% / 0.1);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: var(--spacing-md);
    padding-block: 0.4rem;
    padding-inline: 0.75rem;
}
.rating svg {
    fill: var(--color-link);
}
.books {
    column-width: 400px;
    list-style-type: square;
    max-inline-size: 1400px;
    gap: var(--spacing-xxl);
}
.books > *:not(:last-child) {
    margin-block-end: var(--spacing-sm);
}
.books.favorites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: var(--spacing-xxl);
    list-style-type: none;
    padding: 0;

    .title {
      display: block;
      font-weight: 600;
      line-height: 1.2;
      margin-block-end: 0.25rem;
    }

    img {
      aspect-ratio: 394 / 595;
      margin-block-end: var(--spacing-sm);
    }

    li {
      break-inside: avoid;
      display: flex;
      flex-direction: column;
      align-items: left;
    }

    p {
      line-height: 1.4;
    }
}