---
title: About
layout: 'base.njk'
description: About Erik Wallace Cincinnati, Ohio product designer
keywords: Erik Wallace, Cincinnati Web Design, Cincinnati Product Designer, Cincinnati Web Strategy, mobile app design
---

<h1>About</h1>
<p>Since 2002 I&apos;ve focused on designing and building websites and software. The past few years I have added accessibility and design systems to my scope.</p>
<h2>Past Projects</h2>
<ul>
	<li>Apple - Seminars &amp; Events Online</li>
	<li>Verizon - Kiosks and digital signage</li>
	<li>Procter & Gamble - Photography, ads, and website promotions</li>
	<li>Lowe&apos;s - Digital signage</li>
	<li>Research In Motion / Blackberry - Kiosks and digital signage</li>
	<li>The E.W. Scripps Company - Internal portal and newsletter</li>
	<li>National Underground Railroad Freedom Center - Website</li>
</ul>