---
title: Selected Projects & Work
layout: 'base.njk'
description: Projects I have worked on range from software, websites, mobile apps, kiosks and digital signage.
keywords: Erik Wallace, Cincinnati Web Design, Cincinnati Product Designer, Cincinnati Web Strategy, mobile app design
---

<h1>Work</h1>

<p>Before Map Your Show I worked at several agencies on Fortune 500 companies and brands. I&apos;ve worked on the following in my career:</p>
<ul>
	<li><a href="https://www.mapyourshow.com">Map Your Show</a> - Software, mobile apps, websites, strategy, and marketing</li>
	<li><a href="https://www.imts.com"> International Manufacturing Technology Show</a> - Website, microsites, mobile apps, newsletters, and marketing</li>
</ul>

<h2>Past Projects</h2>

<ul>
	<li><strong>Apple</strong> - <em>Seminars &amp; Events Online</em></li>
	<li><strong>Verizon</strong> - <em>Kiosks and digital signage</em></li>
	<li><strong>Procter & Gamble</strong> - <em>Photography, ads, and website promotions</em></li>
	<li><strong>Lowe&apos;s</strong> - <em>Digital signage</em></li>
	<li><strong>Research In Motion / Blackberry</strong> - <em>Kiosks and digital signage</em></li>
	<li><strong>The E.W. Scripps Company</strong> - <em>Internal portal and newsletter</em></li>
</ul>

<h2>Non-Profits</h2>

<ul>
	<li><strong>National Underground Railroad Freedom Center</strong> - <em>Website</em></li>
	<li><strong>Urban Health Project</strong> - <em>Website</em></li>
	<li><strong>Media Heritage</strong> - <em>Website</em></li>
	<li><strong>National Multiple Sclerosis Society</strong> - <em>Cincinnati Chapter Gala website</em></li>
	<li><strong>Know Theater</strong> - <em>Advertising</em></li>
</ul>
</div>