---
title: Cincinnati Web and Product Designer
layout: 'base.njk'
description: I am a web and product designer with a passion for Web Strategy. I work for small to medium sized businesses and non-profits in and around Cincinnati, Ohio.
keywords: Erik Wallace, Cincinnati Web Design, Cincinnati Product Designer, Cincinnati Web Strategy
---

<h1>Hello, I&apos;m Erik Wallace</h1>
<p>Since 2002 I&apos;ve worked on designing and building software, websites, and mobile apps. I aim to create beautiful experiences that are easy to use. Over time my focus has evolved to create projects that are accessible to everyone.</p>
<p>I lead the creative/front-end team at <a href="http://www.mapyourshow.com", target="_blank">Map Your Show.</a> Over the years we&apos;ve grown from a scrappy startup to an industry leader in providing software for trade shows and conferences. Many of the top events in North America use Map Your Show including <abbr title="Consumer Electronics Show">CES</abbr>, <abbr title="National Association of Broadcasters Show">NAB</abbr> and <abbr title="International Manufacutring Technology Show">IMTS</abbr>.</p>
<p>In addition to working fulltime, I consult on websites for non-profits and small companies.</p>
<h2>Interests</h2>
<p>I have a few hobbies. Reading is my favorite and I usually have one book to read and another to listen to. <a href="/books/2025.html">Here&apos;s a list of recent reads.</a> I also spend a lot of time in the kitchen cooking and baking. Too much time doing the dishes. I love the outdoors and enjoy running and biking.</p>